.post-container {
    width: 100%;
    margin: 0 auto;
}

.post {
    margin: auto ;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#card {
    width: 40rem;
    font-size: 1.1rem;
}

#card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

#tags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

#tag {
    width: auto;
    font-size: 1.2rem;
    margin: 2%;
}


#card-user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-user-icon strong {
    margin-left: 15%;
}

#popup {
    margin-left:-40px;
}